.div_shadow{
width: 5em;
height:2em;
box-shadow:3px 3px 10px green;
border: 2px;
padding:30px;
margin:10px;
float:left;
border:5px;
   border:2px green;
display: -webkit-flex;
   
   

}


.div_shadow:hover{
   
box-shadow:2px 2px 30px black;
border-radius: 2px;
transform: all 100ms ease-in-out;

}

/*parent box style bg color*/
    /*----------------------------------*1st row ---------------------------------------*/

/*first box in 1st row */
#size0_0,#size1_1,#size2_2,#size3_3,#size4_4,#size5_5{
animation-name:zero2;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

@keyframes zero2{
    from{background-color: greenyellow;
    content-visibility: }
    to{background-color:orange;
        border-color: blueviolet ;
        border-radius: 2px;
        box-shadow: 2px;
    content:30px;
opacity:1}
    
}
/*----------------------------------*2nd row ---------------------------------------*/

/*2nd row first box*/
#size1_0{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/*2nd row 2nd box*/
/* #size1_1{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
} */
/*----------------------------------*3rd row ---------------------------------------*/
/*3nd row 1st box*/

#size2_0{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/*3nd row 2nd box*/
#size2_1{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/* 3nd row 3rd box
#size2_2{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
} */
/*----------------------------------*4th row ---------------------------------------*/

/*4th row 1 box*/
#size3_0{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}
/*4th row 2 box*/
#size3_1{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/*4th row 3 box*/
#size3_2{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/*4th row 4 box*/
/* #size3_3{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
} */


   /*----------------------------------*5th row ---------------------------------------*/



/*5th row 1 box*/
#size4_0{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}
/*4th row 2 box*/
#size4_1{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/*4th row 3 box*/
#size4_2{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/*4th row 4 box*/
#size4_3{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}


/*4th row 5 box*/
/* #size4_4{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
} */













#size0{
animation-name:zero;
animation-duration: 3s;
animation-iteration-count:infinite;
animation-delay:0; 
color: blue;
}

/* box parent */
@keyframes zero{
from{background-color: greenyellow;
content-visibility: }
to{background-color:antiquewhite;
border-color: blueviolet ;
border-radius: 2px;
box-shadow: 2px;
content:30px;
opacity:1}

}



@keyframes zero_child{
from{background-color: lightgoldenrodyellow;
content-visibility: none;}
to{
content:30px;
animation-delay:2.5s;

opacity:1}

}

/*  to create new  child class / numbers animation */
/*first visible  row*/

/* .div_shadow :nth-child(1){
animation-name:zero_child;
animation-duration: 3s;
animation-iteration-count:20;
} */

@keyframes pointer{
    0%   {opacity:0}
 25%  {opacity:0}
 50%  {opacity:1}
 100% {opacity:1}
}


</style>
